// ========== FRONTEND ==========
// AUTH
NEXT_PUBLIC_AUTH_PROVIDER_ID=zitadel
NEXT_PUBLIC_API_URL_MUMBLE=https://mumble-api-prod-714602723919.europe-west6.run.app


// ========== BACKEND ==========
// AUTH
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_DISCOVERY_URL=https://cas-fee-adv-ed1ide.zitadel.cloud/.well-known/openid-configuration
AUTH_SCOPES=openid,profile,email
AUTH_SECRET=
// APIs
API_URL_MUMBLE=https://mumble-api-prod-714602723919.europe-west6.run.app
