// AUTH
NEXT_PUBLIC_AUTH_PROVIDER_ID=zitadel
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_DISCOVERY_URL=https://cas-fee-adv-ed1ide.zitadel.cloud/.well-known/openid-configuration
AUTH_SCOPES=openid,profile,email
AUTH_SECRET=
// DATABASE
DATABASE_URL=postgresql://postbee-app_user:postbee-app_password@localhost:5432/postbee-app_database
// APIs
API_URL_MUMBLE
